<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://i.kasaicon.de/favicon.png">
    <link href="/assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://i.kasaicon.de/kasaicon-chibi-grundform-quadratisch-web.jpg" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:image" content="https://i.kasaicon.de/kasaicon-chibi-grundform-quadratisch-web.jpg" />
    <meta property="twitter:card" content="summary" />
    <meta property="og:site_name" content="KasaiCon Website" />
    <meta property="og:url" content="{{ site.url}}{{ page.url }}" />
    <title>{{ page.title }} — KasaiCon Regensburg</title>
  </head>
  <body>
    <script src="/assets/js/bs/bootstrap.bundle.min.js"></script>
    {% include navigation.html %}
    {% if page.banner_image %} 
    <div class="container banner-image">
        <img src="{{ page.banner_image }}" class="img-fluid" alt="banner image">
    </div>
    {% endif %}
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
